.main-placeholder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 650px;

  .gif-placeholder,
  .video-placeholder {
    border-radius: 0.5rem;
    border: 6px solid $primary;
    padding: 0px;
    position: relative;
    z-index: -1;
    max-height: 532px;
    width: -webkit-fill-available;

    img {
      border-radius: 0.5rem;
      height: 510px;
      width: inherit;
    }
    video {
      height: 520px;
      background-color: $light2;
      object-fit: contain;
      overflow: auto;
    }
    .timer {
      position: absolute;
      right: 10px;
      top: 10px;
    }
    .Blink {
      z-index: 1000;
      padding-left: 5px;
      animation: blinker 1.5s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
    }

    @keyframes blinker {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }
  }
  .footer {
    display: inline-flex;
    justify-content: center;
    gap: 5px;
  }
}
